In [1]:
import pandas as pd
import numpy as np

In [2]:
ROTAC = "14vaccine_data/2018_ROTAC.csv"
ROTAC_df = pd.read_csv(ROTAC)
ROTAC_df.head(5)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,South Asia,AFG,Afghanistan,ROTAC,60.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Eastern Europe & Central Asia,ALB,Albania,ROTAC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Middle East & North Africa,DZA,Algeria,ROTAC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Western Europe,AND,Andorra,ROTAC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Eastern & Southern Africa,AGO,Angola,ROTAC,65.0,58.0,59.0,55.0,18.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
ROTAC = pd.DataFrame(ROTAC_df)
ROTAC.head(5)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,South Asia,AFG,Afghanistan,ROTAC,60.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Eastern Europe & Central Asia,ALB,Albania,ROTAC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Middle East & North Africa,DZA,Algeria,ROTAC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Western Europe,AND,Andorra,ROTAC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Eastern & Southern Africa,AGO,Angola,ROTAC,65.0,58.0,59.0,55.0,18.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
ROTAC.fillna(0)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,South Asia,AFG,Afghanistan,ROTAC,60.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Eastern Europe & Central Asia,ALB,Albania,ROTAC,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Middle East & North Africa,DZA,Algeria,ROTAC,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Western Europe,AND,Andorra,ROTAC,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Eastern & Southern Africa,AGO,Angola,ROTAC,65.0,58.0,59.0,55.0,18.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Latin America & Caribbean,VEN,Venezuela (Bolivarian Republic of),ROTAC,0.0,18.0,47.0,84.0,76.0,77.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
191,East Asia & Pacific,VNM,Viet Nam,ROTAC,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
192,Middle East & North Africa,YEM,Yemen,ROTAC,64.0,68.0,59.0,52.0,57.0,56.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193,Eastern & Southern Africa,ZMB,Zambia,ROTAC,91.0,96.0,90.0,82.0,73.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
194,Eastern & Southern Africa,ZWE,Zimbabwe,ROTAC,90.0,91.0,91.0,87.0,48.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0