In [1]:
import pandas as pd
import numpy as np

In [2]:
DTP1 = "14vaccine_data/2018_DTP1.csv"
DTP1_df = pd.read_csv(DTP1)
DTP1_df

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,South Asia,AFG,Afghanistan,DTP1,73,73,73,73,73,76,...,58.0,60.0,50.0,32.0,37.0,39.0,24.0,24.0,NaN,22.0
1,Eastern Europe & Central Asia,ALB,Albania,DTP1,99,99,99,99,99,99,...,97.0,98.0,98.0,98.0,98.0,98.0,98.0,98.0,97.0,97.0
2,Middle East & North Africa,DZA,Algeria,DTP1,96,95,96,99,99,99,...,95.0,93.0,92.0,92.0,88.0,NaN,NaN,NaN,NaN,NaN
3,Western Europe,AND,Andorra,DTP1,99,99,99,99,99,96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Eastern & Southern Africa,AGO,Angola,DTP1,67,61,67,65,69,67,...,41.0,33.0,31.0,31.0,28.0,28.0,25.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Latin America & Caribbean,VEN,Venezuela (Bolivarian Republic of),DTP1,84,95,97,98,88,90,...,80.0,79.0,80.0,80.0,73.0,58.0,80.0,77.0,77.0,79.0
191,East Asia & Pacific,VNM,Viet Nam,DTP1,78,98,96,98,95,83,...,96.0,88.0,74.0,68.0,67.0,24.0,22.0,NaN,NaN,NaN
192,Middle East & North Africa,YEM,Yemen,DTP1,75,76,76,77,82,82,...,79.0,61.0,41.0,35.0,33.0,27.0,24.0,22.0,21.0,18.0
193,Eastern & Southern Africa,ZMB,Zambia,DTP1,94,95,99,97,96,86,...,94.0,94.0,94.0,86.0,86.0,81.0,73.0,NaN,NaN,NaN
194,Eastern & Southern Africa,ZWE,Zimbabwe,DTP1,94,94,94,94,98,98,...,95.0,95.0,94.0,91.0,84.0,82.0,77.0,71.0,64.0,NaN

In [3]:
DTP1 = pd.DataFrame(DTP1_df)
DTP1

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,South Asia,AFG,Afghanistan,DTP1,73,73,73,73,73,76,...,58.0,60.0,50.0,32.0,37.0,39.0,24.0,24.0,NaN,22.0
1,Eastern Europe & Central Asia,ALB,Albania,DTP1,99,99,99,99,99,99,...,97.0,98.0,98.0,98.0,98.0,98.0,98.0,98.0,97.0,97.0
2,Middle East & North Africa,DZA,Algeria,DTP1,96,95,96,99,99,99,...,95.0,93.0,92.0,92.0,88.0,NaN,NaN,NaN,NaN,NaN
3,Western Europe,AND,Andorra,DTP1,99,99,99,99,99,96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Eastern & Southern Africa,AGO,Angola,DTP1,67,61,67,65,69,67,...,41.0,33.0,31.0,31.0,28.0,28.0,25.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Latin America & Caribbean,VEN,Venezuela (Bolivarian Republic of),DTP1,84,95,97,98,88,90,...,80.0,79.0,80.0,80.0,73.0,58.0,80.0,77.0,77.0,79.0
191,East Asia & Pacific,VNM,Viet Nam,DTP1,78,98,96,98,95,83,...,96.0,88.0,74.0,68.0,67.0,24.0,22.0,NaN,NaN,NaN
192,Middle East & North Africa,YEM,Yemen,DTP1,75,76,76,77,82,82,...,79.0,61.0,41.0,35.0,33.0,27.0,24.0,22.0,21.0,18.0
193,Eastern & Southern Africa,ZMB,Zambia,DTP1,94,95,99,97,96,86,...,94.0,94.0,94.0,86.0,86.0,81.0,73.0,NaN,NaN,NaN
194,Eastern & Southern Africa,ZWE,Zimbabwe,DTP1,94,94,94,94,98,98,...,95.0,95.0,94.0,91.0,84.0,82.0,77.0,71.0,64.0,NaN

In [4]:
DTP1.columns

Index(['unicef_region', 'iso3', 'country', 'vaccine', '2018', '2017', '2016',
       '2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008', '2007',
       '2006', '2005', '2004', '2003', '2002', '2001', '2000', '1999', '1998',
       '1997', '1996', '1995', '1994', '1993', '1992', '1991', '1990', '1989',
       '1988', '1987', '1986', '1985', '1984', '1983', '1982', '1981', '1980'],
      dtype='object')

In [9]:
DTP1[['iso3','country']]

    iso3                             country
0    AFG                         Afghanistan
1    ALB                             Albania
2    DZA                             Algeria
3    AND                             Andorra
4    AGO                              Angola
..   ...                                 ...
190  VEN  Venezuela (Bolivarian Republic of)
191  VNM                            Viet Nam
192  YEM                               Yemen
193  ZMB                              Zambia
194  ZWE                            Zimbabwe

[195 rows x 2 columns]

In [5]:
DTP1.fillna(0)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,South Asia,AFG,Afghanistan,DTP1,73,73,73,73,73,76,...,58.0,60.0,50.0,32.0,37.0,39.0,24.0,24.0,0.0,22.0
1,Eastern Europe & Central Asia,ALB,Albania,DTP1,99,99,99,99,99,99,...,97.0,98.0,98.0,98.0,98.0,98.0,98.0,98.0,97.0,97.0
2,Middle East & North Africa,DZA,Algeria,DTP1,96,95,96,99,99,99,...,95.0,93.0,92.0,92.0,88.0,0.0,0.0,0.0,0.0,0.0
3,Western Europe,AND,Andorra,DTP1,99,99,99,99,99,96,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Eastern & Southern Africa,AGO,Angola,DTP1,67,61,67,65,69,67,...,41.0,33.0,31.0,31.0,28.0,28.0,25.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Latin America & Caribbean,VEN,Venezuela (Bolivarian Republic of),DTP1,84,95,97,98,88,90,...,80.0,79.0,80.0,80.0,73.0,58.0,80.0,77.0,77.0,79.0
191,East Asia & Pacific,VNM,Viet Nam,DTP1,78,98,96,98,95,83,...,96.0,88.0,74.0,68.0,67.0,24.0,22.0,0.0,0.0,0.0
192,Middle East & North Africa,YEM,Yemen,DTP1,75,76,76,77,82,82,...,79.0,61.0,41.0,35.0,33.0,27.0,24.0,22.0,21.0,18.0
193,Eastern & Southern Africa,ZMB,Zambia,DTP1,94,95,99,97,96,86,...,94.0,94.0,94.0,86.0,86.0,81.0,73.0,0.0,0.0,0.0
194,Eastern & Southern Africa,ZWE,Zimbabwe,DTP1,94,94,94,94,98,98,...,95.0,95.0,94.0,91.0,84.0,82.0,77.0,71.0,64.0,0.0