In [1]:
import pandas as pd
import numpy as np

In [2]:
HIB = "14vaccine_data/2018_HIB.csv"
HIB_df = pd.read_csv(HIB)
HIB_df.head(5)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,South Asia,AFG,Afghanistan,HIB3,66.0,66.0,66.0,65.0,62.0,64.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Eastern Europe & Central Asia,ALB,Albania,HIB3,99.0,99.0,98.0,99.0,98.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Middle East & North Africa,DZA,Algeria,HIB3,91.0,91.0,91.0,95.0,95.0,95.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Western Europe,AND,Andorra,HIB3,99.0,99.0,98.0,97.0,97.0,96.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Eastern & Southern Africa,AGO,Angola,HIB3,59.0,52.0,55.0,55.0,55.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
HIB = pd.DataFrame(HIB_df)
HIB.head(5)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,South Asia,AFG,Afghanistan,HIB3,66.0,66.0,66.0,65.0,62.0,64.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Eastern Europe & Central Asia,ALB,Albania,HIB3,99.0,99.0,98.0,99.0,98.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Middle East & North Africa,DZA,Algeria,HIB3,91.0,91.0,91.0,95.0,95.0,95.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Western Europe,AND,Andorra,HIB3,99.0,99.0,98.0,97.0,97.0,96.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Eastern & Southern Africa,AGO,Angola,HIB3,59.0,52.0,55.0,55.0,55.0,54.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
HIB.fillna(0).head(5)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,South Asia,AFG,Afghanistan,HIB3,66.0,66.0,66.0,65.0,62.0,64.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Eastern Europe & Central Asia,ALB,Albania,HIB3,99.0,99.0,98.0,99.0,98.0,99.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Middle East & North Africa,DZA,Algeria,HIB3,91.0,91.0,91.0,95.0,95.0,95.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Western Europe,AND,Andorra,HIB3,99.0,99.0,98.0,97.0,97.0,96.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Eastern & Southern Africa,AGO,Angola,HIB3,59.0,52.0,55.0,55.0,55.0,54.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0