In [1]:
import pandas as pd
import numpy as np

In [3]:
inf_mort = "14vaccine_data/infant_mortality.csv"
inf_mort_data = pd.read_csv(inf_mort)
inf_mort_df = pd.DataFrame(inf_mort_data)
inf_mort_df.head(5)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,NaN,236.5,232.6,228.9,225.1,221.4,...,66.8,64.3,61.9,59.5,57.3,55.1,53.1,51.2,49.5,47.9
2,Angola,AGO,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,80.7,76.0,71.5,67.3,63.6,60.5,57.8,55.5,53.4,51.6
3,Albania,ALB,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.9,11.9,11.0,10.2,9.5,8.9,8.5,8.2,8.0,7.8
4,Andorra,AND,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.1,3.9,3.7,3.6,3.4,3.2,3.1,3.0,2.8,2.7

In [5]:
rename_country = {
    "Bolivia":"Bolivia (Plurinational State of)", 
"Congo, Dem. Rep.":"Democratic Republic of the Congo",
"Congo, Rep.":"Congo",
"Korea, Rep.":"Republic of Korea",
"Korea, Dem. People's Rep.":"Democratic People's Republic of Korea",
"Vietnam":"Viet Nam",
"Venezuela, RB":"Venezuela (Bolivarian Republic of)",
"Yemen, Rep.":"Yemen",
"Gambia, The":"Gambia",
"Egypt, Arab Rep.":"Egypt",
"Kyrgyz Republic":"Kyrgyzstan",
"Lao PDR":"Lao People's Democratic Republic",
"Iran, Islamic Rep.":"Iran (Islamic Republic of)",
"Micronesia, Fed. Sts.":"Micronesia (Federated States of)",
"Moldova":"Republic of Moldova",
"North Macedonia":"Republic of North Macedonia",
"St. Kitts and Nevis":"Saint Kitts and Nevis",
"St. Vincent and the Grenadines":"Saint Vincent and the Grenadines",
"Tanzania":"United Republic of Tanzania",
"Czech Republic":"Czechia",
"Slovak Republic":"Slovakia",
"West Bank and Gaza":"State of Palestine",
"Bahamas, The":"Bahamas",
"St. Lucia":"Saint Lucia"
}
inf_mort_df = inf_mort_df.replace(rename_country)
inf_mort_df = inf_mort_df.rename(columns = {"Country Name":"country"})
inf_mort_df.head(5)

,country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,NaN,236.5,232.6,228.9,225.1,221.4,...,66.8,64.3,61.9,59.5,57.3,55.1,53.1,51.2,49.5,47.9
2,Angola,AGO,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,80.7,76.0,71.5,67.3,63.6,60.5,57.8,55.5,53.4,51.6
3,Albania,ALB,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.9,11.9,11.0,10.2,9.5,8.9,8.5,8.2,8.0,7.8
4,Andorra,AND,"Mortality rate, infant (per 1,000 live births)",SP.DYN.IMRT.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.1,3.9,3.7,3.6,3.4,3.2,3.1,3.0,2.8,2.7

In [6]:
inf_mort_df.columns

Index(['country', 'Country Code', 'Indicator Name', 'Indicator Code', '1960',
       '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2018'],
      dtype='object')

In [7]:
infant_mortality_df = inf_mort_df[['country','1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017']]

In [9]:
infant_mortality_df.to_csv("clean_data/infant_mortality_clean.csv", index=False)