In [1]:
import pandas as pd
import numpy as np

In [2]:
MCV2 = "14vaccine_data/2018_MCV2.csv"
MCV2_df = pd.read_csv(MCV2)
MCV2_df.head(5)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,South Asia,AFG,Afghanistan,MCV2,39.0,39.0,39.0,39.0,39.0,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Eastern Europe & Central Asia,ALB,Albania,MCV2,96.0,98.0,98.0,98.0,98.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Middle East & North Africa,DZA,Algeria,MCV2,77.0,92.0,96.0,99.0,99.0,93.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Western Europe,AND,Andorra,MCV2,95.0,94.0,90.0,88.0,90.0,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Eastern & Southern Africa,AGO,Angola,MCV2,35.0,30.0,26.0,26.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
MCV2 = pd.DataFrame(MCV2_df)
MCV2.head(5)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,South Asia,AFG,Afghanistan,MCV2,39.0,39.0,39.0,39.0,39.0,35.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Eastern Europe & Central Asia,ALB,Albania,MCV2,96.0,98.0,98.0,98.0,98.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Middle East & North Africa,DZA,Algeria,MCV2,77.0,92.0,96.0,99.0,99.0,93.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Western Europe,AND,Andorra,MCV2,95.0,94.0,90.0,88.0,90.0,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Eastern & Southern Africa,AGO,Angola,MCV2,35.0,30.0,26.0,26.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
MCV2.fillna(0)

,unicef_region,iso3,country,vaccine,2018,2017,2016,2015,2014,2013,...,1989,1988,1987,1986,1985,1984,1983,1982,1981,1980
0,South Asia,AFG,Afghanistan,MCV2,39.0,39.0,39.0,39.0,39.0,35.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Eastern Europe & Central Asia,ALB,Albania,MCV2,96.0,98.0,98.0,98.0,98.0,99.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Middle East & North Africa,DZA,Algeria,MCV2,77.0,92.0,96.0,99.0,99.0,93.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Western Europe,AND,Andorra,MCV2,95.0,94.0,90.0,88.0,90.0,91.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Eastern & Southern Africa,AGO,Angola,MCV2,35.0,30.0,26.0,26.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Latin America & Caribbean,VEN,Venezuela (Bolivarian Republic of),MCV2,39.0,59.0,53.0,52.0,50.0,38.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
191,East Asia & Pacific,VNM,Viet Nam,MCV2,90.0,93.0,95.0,92.0,94.0,86.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
192,Middle East & North Africa,YEM,Yemen,MCV2,46.0,46.0,49.0,41.0,45.0,47.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
193,Eastern & Southern Africa,ZMB,Zambia,MCV2,65.0,64.0,58.0,47.0,33.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
194,Eastern & Southern Africa,ZWE,Zimbabwe,MCV2,78.0,78.0,63.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0